@font-face {
    font-family: 'digital-7';
    src: url('http://denisx.ru/fonts/digital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.slick-active img 
	{
    opacity: 0.4;
    transition: all 300ms ease;
	}

	.slick-center img 
	{
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08); 
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
	border: 20px;
	}
	
	 .carousel-inner > .item > img,
	 .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }	
 .slick-cloned img
 {
	opacity: 0.4; 
 }

  h4{
	  margin-top: 85px;
	  color: white;
	  font-size: 25px;
	  
  }  
#holder {  			
	top: 70px;            			
	right: 350px;  	      
	width: 270px;
	height: 60px;
	border: none;
	margin: 0px auto;
}

#title, #note {
	color: white;	       
				 
}

#note {
	position: relative;
	top: 6px;
	height: 20px;
	width: 260px;
	margin: 0 auto;
	padding: 0px;
	text-align: center; 
	font-family: Arial; 
	font-size: 18px;
	font-weight: bold;    /* options are normal, bold, bolder, lighter */
	font-style: normal;   /* options are normal or italic */
	z-index: 1;
}

.title {
	border: none;
	padding: 0px;
	margin: 0px;
	width: 30px;
	text-align: center;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;    /* options are normal, bold, bolder, lighter */
	background-color: transparent; 
}

#timer {
	position: relative; 
	top: 0px; 
	left: 0px;	
	margin: 5px; 
	text-align: center; 
	width: 210px;
	border: none;
	background: #000000;      /* may change to another color, or to "transparent" */
	border-radius: 30px;
	box-shadow: 0 0 30px #000000;  /* change to "none" if you don't want a shadow */
}
.startButton {
	-moz-box-shadow: -1px 3px 5px -2px #3dc21b;
	-webkit-box-shadow: -1px 3px 5px -2px #3dc21b;
	box-shadow: -1px 3px 5px -2px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:8px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:4px 7px;
	text-decoration:none;
	text-shadow:-1px 1px 10px #2b5c23;
}
.startButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.startButton:active {
	position:relative;
	top:1px;
}
.pauseButton {
	-moz-box-shadow: -1px 3px 5px -2px #3dc21b;
	-webkit-box-shadow: -1px 3px 5px -2px #3dc21b;
	box-shadow: -1px 3px 5px -2px #c717eb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #b745c9 5%, #d126eb 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#b745c9;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:8px;
	border:3px solid #9310ad;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:4px 7px;
	text-decoration:none;
	text-shadow:-1px 1px 10px #681678;
}
.pauseButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d126eb), color-stop(1, #b745c9));
	background:-moz-linear-gradient(top, #d126eb 5%, #b745c9 100%);
	background:-webkit-linear-gradient(top, #d126eb 5%, #b745c9 100%);
	background:-o-linear-gradient(top, #d126eb 5%, #b745c9 100%);
	background:-ms-linear-gradient(top, #d126eb 5%, #b745c9 100%);
	background:linear-gradient(to bottom, #d126eb 5%, #b745c9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d126eb', endColorstr='#b745c9',GradientType=0);
	background-color:#d126eb;
}
.pauseButton:active {
	position:relative;
	top:1px;
}
.stopButton {
	-moz-box-shadow: -1px 3px 5px -2px #3dc21b;
	-webkit-box-shadow: -1px 3px 5px -2px #3dc21b;
	box-shadow: -1px 3px 5px -2px #e61e1e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #cc4747 5%, #eb2828 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#e03131;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:8px;
	border:3px solid #e62525;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:4px 7px;
	text-decoration:none;
	text-shadow:-1px 1px 10px #731717;
}
.stopButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb2828), color-stop(1, #cc4747));
	background:-moz-linear-gradient(top, #eb2828 5%, #cc4747 100%);
	background:-webkit-linear-gradient(top, #eb2828 5%, #cc4747 100%);
	background:-o-linear-gradient(top, #eb2828 5%, #cc4747 100%);
	background:-ms-linear-gradient(top, #eb2828 5%, #cc4747 100%);
	background:linear-gradient(to bottom, #eb2828 5%, #cc4747 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb2828', endColorstr='#cc4747',GradientType=0);
	background-color:#5cbf2a;
}
.stopButton:active {
	position:relative;
	top:1px;
}
#myCounter
{
	font-family: 'digital-7';
	font-size: 50px;
	color: white;
	width: 130px;
	height: 60px;
	
}
#minutes
{
	font-family: 'digital-7';
	font-size: 50px;
	color: white;
	width: 130px;
	height: 60px;
}
center
{
	width: 210px;
	height: 60px;
}
.buttons {
	
}
.buttons a {
	margin-right: 20px;
	width: 64px;
	height: 64px;
	display: inline-block;
	position: relative;
	line-height: 64px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: linear-gradient(top, #f6f6f6, #eaeaea);
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}
.buttons a:active {
	top: 1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
	background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}
.buttons a::before{
	content: '';
	position: absolute;
	z-index: -1;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: #eaeaea;
	-moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	border-radius: 140px;
	opacity: 0.5;		
}
.buttons a:active::before {
	top: -9px;
}
 
.buttons a:hover::before {
	opacity: 1;
}
.buttons a.play:hover::before, a.played::before {
	background-color: #7df3cd;
}
 
.buttons a.pause:hover::before, a.paused::before {
	background-color: #AD84F2;
}
 
.buttons a.stop:hover, a.stopped {
	background-color: #F2323B;
}
#shadow
{
	box-shadow: 8px 5px 10px #181818;
	border-radius: 15px;
}
.box {
	height: 246px;
}






